article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}
* {
    box-sizing: border-box;
}


.navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.nav-logo {
    color: #FF305B;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 800;
    display: block;
    transition: all 0.3s ease 0s;
}
.nav-link {
    color: black;
}
ul.navbar-nav li.active a {
    color: #ff305b;
}
ul.navbar-nav li a:hover {
    color: #ff305b;
}
.nav-logo:hover {
    color: #ff305b;
}


#home {
    background:  linear-gradient(rgba(0, 0, 0, 0.489) 0% 100%),url('../images/header\ bg.jpg');
    height: 700px;
    background-position: center;
    background-size: cover;
    text-transform: capitalize;
    z-index: 1;
    position: relative;

}
.d-table {
    display: table;
    height: 100%;
    width: 100%;
}
.home-content {
    text-align: center;
    color: aliceblue;
}
h1 {
    font-size: 77px;
    font-weight: 700;
    color:#FF305B;
}
h3,
h4 {
    font-size: 24px;
    font-weight: 600;
}
.home-content h4::after {
    content: "";
    animation: textTransition 4s infinite ease-in-out;
    border-right: #FF305B solid;
}
@keyframes textTransition {
    0% {
      content: "De";
    }
    4% {
      content: "Des";
    }
    8% {
      content: "Desi";
    }
    12% {
      content: "Desig";
    }
    16% {
      content: "Design";
    }
    20% {
      content: "Designe";
    }
    24% {
      content: "Designer";
    }
    28% {
      content: "Designe";
    }
    32% {
      content: "Design";
    }
    36% {
      content: "Desig";
    }
    40% {
      content: "Desi";
    }
    44% {
      content: "Des";
    }
    48% {
      content: "De";
    }
    52% {
      content: "Dev";
    }
    56% {
      content: "Deve";
    }
    60% {
      content: "Devel";
    }
    64% {
      content: "Develo";
    }
    68% {
      content: "Develop";
    }
    72% {
      content: "Develope";
    }
    76% {
      content: "Developer";
    }
    80% {
      content: "Develope";
    }
    84% {
      content: "Develop";
    }
    88% {
      content: "Develo";
    }
    92% {
      content: "Devel";
    }
    96% {
      content: "Deve";
    }
    100% {
      content: "Dev";
    }
}



#about {
    padding: 100px 0 125px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.about-box {
    border-radius: 5px;
    box-shadow: 0 0 0 8px #555555 inset;
    display: block;
    margin-right: 0;
    margin-top: 0;
    position: relative;
}
.about-box img {
    max-width: 100%;
}
.porfile-photo {
    position: relative;
    transform: translateY(24px) translateX(24px);
    overflow: hidden;
}
.porfile-overly {
    background: rgba(0, 0, 0, 0.57) none repeat scroll 0 0;
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.porfile-photo:hover .porfile-overly {
    bottom: 0; 
    opacity: 1;
    visibility: visible;
}
.social-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.5s ease 0.2s; 
}
.porfile-photo:hover .social-icon {
    opacity: 1; 
}
.social-icon i:hover {
    color: #FF305B;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.about-box .social-icon li {
    display: inline-block;
}
.about-box .social-icon li a {
    display: block;
    font-size: 20px;
    height: 20px;
    width: 32px;
    color: #fff;
}
a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.fa-facebook-f::before {
    content: "\f39e";
}
.fa-google::before {
    content: "\f1a0";
}
.fa-twitter::before {
    content: "\f099";
}
.fa-github::before {
    content: "\f09b";
}
.about-box .fa {
    display: inline-block;
}
.download-cv-btn .fa {
    color: #F1F1F1;
}
.profile-desc {
    padding-left: 70px;
}
.profile-desc h2 {
    border-left: #FF305B solid 4px;
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.profile-desc > p {
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.profile-about ul li:nth-child(2n+1) {
    float: left;
    width: 40%;
}
.profile-about ul li {
    color: #555555;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;
    white-space: nowrap;
}
.profile-about li a {
    color: #7e7e7e;
}
.profile-about span {
    color: #333;
    font-weight: 600;
}
.download-cv-btn > a {
    background: #ff305b none repeat scroll 0 0;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 24px;
    transition: all 0.3s ease-in-out;
}
.download-cv-btn > a i {
    margin-left: 5px;
}
.download-cv-btn a:hover {
    background: linear-gradient(#f61845 0% 0%);
    transition: all 1s ease-in-out;
}



#service {
    background-color: #F1F1F1;
}
.service h2 {
    line-height: 30px;
    font-size: 40px;
    font-weight: 800;
}
.single-service-inner {
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    width: 250px;
    /* height: 200px; */
    padding: 20px;
}
.single-service-inner h3 {
    line-height: 24px;
    font-size: 26.4px;
    font-weight: 600;
}
.single-service-inner:hover {
    background-color:#fff;
    transition: all 0.5s;
    color: #000000;
    box-shadow: 3px 8px 8px 5px #88888870;
}
.single-service-inner:hover i {
    font-size: 40px;
    transition: all 1ms ease-in-out;
}
.stylus-note:before {
    content: "\f603";
}
.single-service-inner i{
    font-size: 30px;
    color: #FF305B;
    padding-bottom: 20px;
}





.portfolio-content h2:after,
.service-header h2:after,
.blog-header h2:after {
    border-color: #ff305b;
    border-style: solid;
    border-width: 0 0 1px 0;
    /* bottom: 5px; */
    /* height: 1px; */
    width: 160px;
    padding: 27px;

}
.portfolio-content h2:after,
.portfolio-content h2:before,
.service-header h2:after,
.service-header h2:before,
.blog-header h2:after,
.blog-header h2:before  {
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

  
  
.grid-container {
    display: none;
}

/* Show 'ALL' grid by default */
#Portfolio-grid .active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}


/* Show the grid for the specific target */
#ALL:target, 
#GRAPHIC:target, 
#WEB-DESIGN:target, 
#BRANDING:target {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.grid-item img {
    width: 100%; /* Ensure images fit in the grid item */
}


#list a.active {
    color: #f61845;
    border: none;
    background-color: transparent;
    
  }
  
  #list a:not(.active) {
    color: #555555;
    border: none;
    background-color: transparent;
  }
  
  #list a:hover:not(.active) {
    color: #ff305b;
    border: none;
    background-color: transparent;
  }
.portfolio-img {
    width: 100%;
    background-color: transparent !important;
}
  
  
  

  .portfolio-social-icon li {
    display: inline-block;
    margin-inline: 10px;
}
.portfolio-social-icon li i {
    color: #555555;
}
.portfolio-social-icon li i:hover {
    color: #f61845;
    transition: all 0.3s ease-in-out;
}
  




#numbers {
    display: block;
    margin-top: 400px;
    padding: 100px 0 100px 0;
}
.bg-grey {
    background: #f1f1f1;
}
.row:before {
    display: table;
    content: " ";
}
.single-fun-facts {
    text-align: center;
    line-height: 1.5rem;
}
.facts-icon {
    font-size: 50px;
}
.single-counter h3 {
    font-size: 26px;
    font-weight: 700;
    padding-top: 20px;
}
.single-counter h5 {
    color: #555555;
    font-size: 16px;
    margin: 0;
}
.fa-files-o::before {
    content: "\f0c5";
    font-size: 25px;
}





.testimorials-content h2 {
    font-size: 40px;
    /* font-weight: 800; */
    line-height: 30px;
    margin-bottom: 40px;
    padding: 50px 0 20px;
    position: relative;
    text-transform: capitalize;
    text-align: center;
}
.carousel-indicators [data-bs-target] {
    border: 1px solid #ff305b;
    background-color: #FF305B;
    display: inline-block;
    margin: 0 3px;
    width: 40px;
    height: 6px;
    border-radius: 15%;
}
.row {
    padding-top: 50px;
}
#testimorials .testimorials-img:before {
    border-color: #ff305b;
    border-image: none;
    border-style: solid;
    border-width: 191px;
    content: "";
    height: 72px;
    left: -250px;
    position: absolute;
    top: -265px;
    transform: rotate(50deg);
    width: 77px;
    z-index: 0;
}
.clear-fix {
    /* clear: both; */
}
.testimorials-img img {
    width: 150px;
    border-radius: 50%;
    margin: 10px 0 70px 50px;
    z-index: 1;
    position: relative;
}
h4 a {
    color: #777777;
    font-size: 15px;
}
h4 a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.testimorials-content p {
    font-weight: 400;
    line-height: 25px;
    font-size: 16ps;
    color: #7e7e7e;
}
.testimorials-stars i {
    color:gold;
}
.fa-star-o:before {
    content: "\f006";
}

  




#blog h2 {
    text-align: center;
    margin-top: 30px;
    padding-top: 50px;
}
a img {
    max-width: 100%;
    height: auto;
}
.post-content {
    padding: 20px;
    background: #ffffff;
}
.post-content > h3 {
    margin-bottom: 15px;
}
.post-content h3 a, .post-read > a {
    color: #333333;
    text-transform: capitalize;
    /* transition: all 0.3s ease-in-out; */
}
.single-blog {
    margin-bottom: 30px;
}
.single-blog i {
    color:#7e7e7e
}
.post-content h3:hover,
.post-read a:hover, 
.post-read i:hover {
    color: #f61845;
}
.post-read {
    width: 200px;
height: 30px;
}
.post-read i:hover {
    translate: 10px 0;
    transition: all 1s ease-in-out;
}



.controls {
    justify-content: center;
    margin-bottom: 40px;
}
@media (min-width: 768px) {
    .col-md-8 {
        width: 100%;
    }
}
.contact-from .btn {
    background-color: #EC2403;
    border-color: #ff305b;
    color: #ffffff;
    margin-top: 20px;
}



.footer-area {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    color: #F1F1F1;
}
.footer-social-icon li {
    display: inline-block;
    margin-inline: 10px;
}
.footer-social-icon li i {
    color: #F1F1F1;
}
.footer-social-icon li i:hover {
    color: #f61845;
    transition: all 0.3s ease-in-out;
}
.copy-right a {
    color: #f61845;
}



.return {
    background-color: #ff30597c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    justify-content: center;
    transition: all 1s;
    border:#bcb6b6 solid 1px;
}
.return a {
    color: #d7d3d3;
    justify-content: center;
    padding-left: 18px;
}
.return i {
    padding-top: 18px;
}
.return:hover {
    color: #f1f1f1;
    background-color: #f61845;
}



.lines {
    width: 50px;
    height: 1px;
    color: #f61845;
}
.mid-line {
    width: 100px;
    color: #f61845;
}
